.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  @media screen and (min-width: 1268px) {
    margin-top: 3rem;
  }
  .logo {
    height: 2.5rem;
    width: auto;
  }

  .link-container {
    display: none;
    justify-content: space-between;
    width: 45vw;
    height: 10vh;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40.8px);
    padding: 0 10rem 0 6rem;
    .active {
      border-bottom: #d0d6f9 3px solid;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }

    a {
      color: #d0d6f9;
      list-style-type: none;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      height: 100%;
      &:hover {
        border-bottom: #ffffff51 3px solid;
      }
      p {
        display: none;
      }
      @media screen and (min-width: 1268px) {
        p {
          display: block;
          font-weight: 700;
        }
      }
    }
  }

  .burger {
    width: 1.5rem;
    height: 1.3rem;
    margin-right: 1.5rem;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .burgerburgerNav {
    display: none;
  }
}
